<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
		<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>

		<directoryBrowse enabled="false" />
		<validation validateIntegratedModeConfiguration="false" />

		<!--
			Microsoft sets runAllManagedModulesForAllRequests to true by default
			You should handle this according to need, but consider the performance hit.
			Good source of reference on this matter: http://www.west-wind.com/weblog/posts/2012/Oct/25/Caveats-with-the-runAllManagedModulesForAllRequests-in-IIS-78
		-->
		<modules runAllManagedModulesForAllRequests="false" />

		<urlCompression doStaticCompression="true" doDynamicCompression="true" />

		<staticContent>
			<!-- Set expire headers to 30 days for static content-->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
			<!-- use utf-8 encoding for anything served text/plain or text/html -->
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".rss" />
			<mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
			<!-- HTML5 Audio/Video mime types-->
			<remove fileExtension=".mp3" />
			<mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<!-- Proper svg serving. Required for svg webfonts on iPad -->
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<!-- HTML4 Web font mime types -->
			<!-- Remove default IIS mime type for .eot which is application/octet-stream -->
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
			<remove fileExtension=".ttc" />
			<mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="font/opentype" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".crx" />
			<mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
			<remove fileExtension=".xpi" />
			<mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
			<remove fileExtension=".safariextz" />
			<mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
			<!-- Flash Video mime types-->
			<remove fileExtension=".flv" />
			<mimeMap fileExtension=".flv" mimeType="video/x-flv" />
			<remove fileExtension=".f4v" />
			<mimeMap fileExtension=".f4v" mimeType="video/mp4" />
			<!-- Assorted types -->
			<remove fileExtension=".ico" />
			<mimeMap fileExtension=".ico" mimeType="image/x-icon" />
			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<remove fileExtension=".htc" />
			<mimeMap fileExtension=".htc" mimeType="text/x-component" />
			<remove fileExtension=".vcf" />
			<mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
			<remove fileExtension=".torrent" />
			<mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
			<remove fileExtension=".cur" />
			<mimeMap fileExtension=".cur" mimeType="image/x-icon" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<!--
					# MIME type sniffing security protection
					Enabled by default as there are very few edge cases where you wouldn't want this enabled.
					Theres additional reading below; but the tldr, it reduces the ability of the browser (mostly IE)
					being tricked into facilitating driveby attacks.
					http://msdn.microsoft.com/en-us/library/ie/gg622941(v=vs.85).aspx
					http://blogs.msdn.com/b/ie/archive/2008/07/02/ie8-security-part-v-comprehensive-protection.aspx
				-->
				<add name="X-Content-Type-Options" value="nosniff" />

				<!-- A little extra security (by obscurity), removings fun but adding your own is better -->
				<remove name="X-Powered-By" />
				<add name="X-Powered-By" value="eXcelaweb LLC." />

				<!--
					Force the latest IE version, in various cases when it may fall back to IE7 mode
					github.com/rails/rails/commit/123eb25#commitcomment-118920
					Use ChromeFrame if it's installed for a better experience for the poor IE folk
				-->
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
			</customHeaders>
		</httpProtocol>

		<defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>

		<rewrite>
			<rules>
				<rule name="Application Adminsitration" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{SCRIPT_NAME}" pattern="^/(.*(CFIDE|cfide|CFFormGateway|jrunscripts|railo-context|fckeditor)).*$" ignoreCase="false" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="Flash and Flex Communication" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{SCRIPT_NAME}" pattern="^/(.*(flashservices|flex2gateway|flex-remoting)).*$" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.cfm/{PATH_INFO}" appendQueryString="true" />
				</rule>
				<rule name="Static Files" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{SCRIPT_NAME}" pattern="\.(bmp|gif|jpe?g|png|css|js|txt|pdf|doc|xls)$" ignoreCase="false" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="Insert index.cfm" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.cfm?path_info=/{R:1}" />
				</rule>
			</rules>
		</rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.cfm" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>